@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	color: white;
}
#particles-js {
	height: 100%;
	background: url("../images/background1.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.particles-js-canvas-el {
	position: absolute;
}
.text {
	justify-content: left;
	margin: 30px;
	font-size: 30px;
	color: #4d0000;
	width: 50%;
	margin-left: -20px;
}
nav {
	width: 100%;
	/* background: rgba(218,247,253,255); */
	background: rgba(154,226,248,255);
	position: fixed;
	top: 0;
	height: 70px;
}
nav > h1 {
	font-family: sans-serif;
	color: rgb(75, 11, 11);
	margin-left: 15px;
	padding-bottom: 10px;
	font-size: 25px;
}
form > h1 {
	color: #4d0000;
}
form {
	text-align: center;
}
footer {
	width: 100%;
	/* background: rgba(218,247,253,255); */
	/* background: rgba(72,175,206,255); */
	position: fixed;
	bottom: 0;
	text-align: center;
	font-family: sans-serif;
}
footer > h5 {
	color: #4d0000;
	margin: 0px;
	padding: 0.5%;
}
